.checkout-page {
    margin-bottom: 75px;
    margin-top: 150px;
}

input {
    margin-bottom: 1rem;
}

#cost {
    font-size: 3pt;
}

#submit-button {
    margin-top: 1rem;
    margin-left: 45%;
    margin-right: 45%;
}

.no-rooms-alert {
    margin-top: 200px;
    margin-left: 30%;
}

#red {
    color: blue;
    background-color: green;
}

#green {
    color: yellow;
    background-color: red;
}

#yellow {
    color: fuchsia;
    background-color: pink;
}