<div class = "background">
<h1 class = "display-1">{{title}}</h1>
<div *ngIf="isShown" id="divshow">
    <app-navbar></app-navbar>
</div>

<div>
<router-outlet></router-outlet>
</div>

<div class="footer">
    <p>Dis de footah of de site, we puta da copyrighta and de otha stuff dat most peepol will nut reada EVA. <br>
        Dis iz a twest duwewovement pwoject that fowo stUwUdents made <a (click) = "toggleShow()">here</a> in diz site UwU. <br>
        CoPyRiGhT tHiNg ThAt AnYoNe WoUlDn'T cArE 2021 BaBeHHHHHHHHHH!</p>
</div>
</div>