<ul class="list-group rooms-list">
    <li *ngFor="let bookedroom of bookedRooms;">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-3">
                {{bookedroom.room.desc}}
            </li>
            <li class="list-group-item col-4">
                <img src="{{bookedroom.room.photo}}" height="300px" width="500px">
            </li>
            <li class="list-group-item col-2">
                <ul class="list-group">
                    <li class="list-group-item"><span>Room Number: #</span>{{bookedroom.room.roomNumber}}</li>
                    <li class="list-group-item"><span>Beds: </span>{{bookedroom.room.beds}}</li>
                    <li class="list-group-item"><span>Cost: $</span>{{bookedroom.room.cost}}</li>
                    <li class="list-group-item"><span>Room Type: </span>{{bookedroom.room.type}}</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>